<nav class="navbar navbar-inverse" *ngIf="!userLoggedIn">
  <div class="container-fluid">
  
        <div class="navbar-header">
                <a class="navbar-brand">  
                    Treenikalenteri
                </a>
            </div>        
    
      <ul class="nav navbar-nav navbar-right">
          <a class="navbar-brand" routerLink="/rekisteroityminen" routerLinkActive="active"> <span class="glyphicon glyphicon-user"></span> Rekisteröityminen</a>
          <input  [(ngModel)]="email" title="Email address"  placeholder="email" />
          <input  [(ngModel)]="password" type="password"  title="Password" placeholder="password" />
          <button (click)="login()" title="Login" class="btn btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
      </ul>
  </div>        
</nav>
<nav class="navbar navbar-inverse" *ngIf="userLoggedIn">
  <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">  
                Treenikalenteri
            </a>
        </div>        
        <div class="nav navbar-nav">  
                <a class="navbar-brand" routerLink="/treenipaivat/lista" routerLinkActive="active">Treenipäivälista</a>      
                <a class="navbar-brand" routerLink="/treenipaivat/kalenteri" routerLinkActive="active">Kalenterinäkymä</a>      
                <a class="navbar-brand" routerLink="/treenipaivat/0" routerLinkActive="active">Uusi treenipäivä</a>      
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/kayttaja" routerLinkActive="active"> <span class="glyphicon glyphicon-user"></span> User Info</a></li>
        <li><a (click)="logOut()" routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
  </div>      
 </nav>

  <router-outlet></router-outlet>    