<div *ngFor="let treeni of treenit">
      <div>
        <input [(ngModel)]="treeni.laji" placeholder="laji" />
        <label>Laji: </label>
    </div>
      <div>
        <input [(ngModel)]="treeni.kesto" placeholder="kesto" />
        <label>Kesto: </label>
    </div>
      <div>
        <input [(ngModel)]="treeni.keskisyke" placeholder="keskisyke" />
        <label>Keskisyke: </label>
    </div>
      <div>
        <input [(ngModel)]="treeni.maksimisyke" placeholder="maksimisyke" />
        <label>Maksimisyke: </label>
    </div>
    <button (click)="remove(treeni)">Poista Treeni</button>
</div>
<button (click)="add()">Lisää Treeni</button>
