<div class="container">
<h2>Treenipäivälista</h2>
<button (click)="getTreenipaivat()">
    <i class="glyphicon glyphicon-refresh"></i>
    Päivitä
</button>

</div>
<div *ngIf="treenipaivat" class="container">
<table class="table table-hover table table-striped">
    <thead>
        <tr>
            <td>Pvm</td>
            <td>Treenit</td>
            <td>paino</td>
            <td>Kuntoindeksi</td>
            <td>Huomiot</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let treenipaiva of treenipaivat"  >
            <td>
                <a routerLink="/treenipaivat/{{treenipaiva.id}}/" routerLinkActive="active">{{treenipaiva.pvm}}</a>
            </td>
            <td>
                <div class="" *ngFor="let treeni of treenipaiva.treenit; let index = index">
                    <div> {{treeni.laji}}</div>
                </div>
            </td>
            <td>{{treenipaiva.paino}}</td>
            <td>{{treenipaiva.kuntoindeksi}}</td>
            <td>{{treenipaiva.huomiot}}</td>
            
        </tr>
    </tbody>
</table> 
</div>    
    