
<h4>Treenipäivän muokkaus</h4>
<div *ngIf="treenipaiva" class="panel panel-heading">
    <div>
        <label>Päivämäärä</label>
        <input type="text" [(ngModel)]="treenipaiva.pvm"> 
        <button  *ngIf="treenipaiva.id" type="button"  class="btn btn-sm" (click)="deleteTreenipaiva()" title="Poista treenipäivä"  data-toggle="tooltip"> <i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <div>
        <label>Paino</label>
        <input type="text" [(ngModel)]="treenipaiva.paino">
    </div>
    <div>
        <label>Kuntoindeksi</label>
        <input type="text" [(ngModel)]="treenipaiva.kuntoindeksi"> 
    </div>
    <div>
        <label>Huomiot</label>
        <input type="text" [(ngModel)]="treenipaiva.huomiot"> 
    </div>
    

    <div class="panel panel-default" *ngFor="let treeni of treenipaiva.treenit; let index = index">
        <div>
            <label>Laji: </label>
            <input [(ngModel)]="treeni.laji" placeholder="laji" />
            <button *ngIf="treeni.id" type="button"  class="btn btn-sm" (click)="deleteTreeni(treeni.id, index)" title="Poista treeni"  data-toggle="tooltip"> <i class="glyphicon glyphicon-trash"></i></button>
        </div>
        <div>
            <label>Kesto: </label>
            <input [(ngModel)]="treeni.kesto" placeholder="kesto" />
        </div>
        <div>
            <label>Keskisyke: </label>
            <input [(ngModel)]="treeni.keskisyke" placeholder="keskisyke" />
        </div>
        <div>
            <label>Maksimisyke: </label>
            <input [(ngModel)]="treeni.maksimisyke" placeholder="maksimisyke" />
        </div>
        <div>
            <label>Kalorit: </label>
            <input [(ngModel)]="treeni.kalorit" placeholder="kalorit" />
        </div>
        <div>
            <label>Paikka: </label>
            <input [(ngModel)]="treeni.paikka" placeholder="paikka" />
        </div>

    </div>

</div>
<button type="button" class="btn btn-default" (click)="addTreeni()" title="Lisää treeni"  data-toggle="tooltip">
    <i class="glyphicon glyphicon-plus"></i>  
    Lisää treeni 
</button>
<button *ngIf="treenipaiva?.id" type="button" class="btn btn-default" (click)="getTreenipaiva(treenipaiva.id)">
    <i class="glyphicon glyphicon-refresh"></i> 
    Päivitä
</button>
<button type="button" class="btn btn-default" (click)="save()">
    <i class="glyphicon glyphicon-floppy-disk"></i> 
    Tallenna
</button>
<button type="button" class="btn btn-default" routerLink="/treenipaivat" routerLinkActive="active">
    <i class="glyphicon glyphicon-arrow-left"></i>
     Edellinen sivu
</button>


