<div class="container">
  
  <div class="btn-group">
      <div>Viikkojen lukumäärä: {{viikkojenLkm}}</div>
      <button type="button" class="btn btn-primary" (click)="asetaTreeniviikot(4)"> 4 viikkoa </button>
      <button type="button" class="btn btn-primary" (click)="asetaTreeniviikot(8)"> 8 viikkoa </button>
      <button type="button" class="btn btn-primary" (click)="asetaTreeniviikot(12)"> 12 viikkoa </button>
      <button type="button" class="btn btn-primary" (click)="asetaTreeniviikot(52)"> 52 viikkoa </button>
  </div>
         
  <ul class="pager">
      <li class="previous" ><a (click)="asetaViikkoOffset(-4)"> << </a></li>
      <li class="previous"><a (click)="asetaViikkoOffset(-1)" > < </a></li>
      <li class="next"><a (click)="asetaViikkoOffset(+4)" > >> </a></li>
      <li class="next"><a (click)="asetaViikkoOffset(+1)" > > </a></li>
    </ul>


  <div class="kuukausinakyma">
    <div class="vko-column">
      <div class="vko-header bg-primary">
        Vko
      </div>
      <div class="vko bg-primary" *ngFor="let viikkonumero of viikkonumerot"> 
        {{viikkonumero}} 
      </div>
    </div>

    <div class="treeni-kk">
      <div class="my-header bg-primary" *ngFor="let paiva of viikonpaivat"> 
        {{paiva}} 
      </div>
      <div *ngFor="let tp of treenipaivalista; let index = index">
          <div class="day-column"  [ngClass]="getTreenipaivaClass(tp)">            
            <div class="bg-info date">
              <a  *ngIf="tp.treenipaiva" routerLink="/treenipaivat/{{tp.treenipaiva?.id}}" routerLinkActive="active">
                {{tp.pvm}}
              </a>
              <a  *ngIf="!tp.treenipaiva" routerLink="/treenipaivat/0/{{tp.pvm}}" routerLinkActive="active">
                {{tp.pvm}}
              </a>
            </div>
            <div *ngIf="tp.treenipaiva">
              <div class="bg-success" *ngIf="tp.treenipaiva.kuntoindeksi">
                Kuntoindeksi: {{tp.treenipaiva.kuntoindeksi}}
              </div>
              <div *ngIf="tp.treenipaiva.paino">
                Paino: {{tp.treenipaiva.paino}} kg
              </div>
              <div *ngIf="tp.treenipaiva.huomiot">
                Huomiot: {{tp.treenipaiva.huomiot}}
              </div>
              <div *ngFor="let treeni of tp.treenipaiva.treenit">
                <div>
                  Laji: {{treeni.laji}} 
                </div>
                <div *ngIf="treeni.kesto">
                  Kesto: {{treeni.kesto}} min
                </div>
                <div *ngIf="treeni.kcal">
                  Kcal: {{treeni.kcal}} kcal
                </div>
                <div *ngIf="treeni.keskisyke">
                  Avg: {{treeni.keskisyke}}
                </div>
                <div *ngIf="treeni.maksimisyke">
                  Max: {{treeni.maksimisyke}}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>