.container {
    min-width: 1100px;
}
.my-header {
    width: 150px;
    display: inline-block;
    border: 1px solid black; 
    clear: right;
    text-align: center;
}
.myblock {
    width: 150px;
    height:150px;
    border: 1px solid black; 
    float: left;
    overflow: auto;
}
.myinline {
    width: 150px;
    height:150px;
    display: inline-block;
    border: 1px solid black; 
    clear: right;
    overflow: auto;
}
.date {
    text-align: center;
}
